{% extends "layout.html" %}
{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/try.jpg') }}')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Med <b style ="color:red"> + </b> Lock</h1>
              <span class="subheading">A webapp for individuals</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

          <b><center>Kindly select your user</center></b>
         
          <!-- Pager -->
          <div class="clearfix">
            <a class="btn btn-primary float-left" href="/dashboard">DOCTOR→</a>
            <a class="btn btn-primary float-right" href="/dashboard">Patient →</a>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}